<h1>Create New Account</h1>

<%= form_with url: users_path, local: true, scope: :user do |form| %>
  <%= render partial: 'users/form', object: form %>
  <%= form.submit 'Sign Up', class:'btn btn-outline-primary' %>
<% end %>