<h1>User Details</h1>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 p-3">
      <img src="https://via.placeholder.com/150" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Name: </strong><%= current_user.name %></li>
          <li class="list-group-item"><strong>Address: </strong><%= current_user.address %></li>
          <li class="list-group-item"><strong>Email: </strong><%= current_user.email %></li>
          <li class="list-group-item"><strong>Phone Number: </strong><%= current_user.phone %></li>
        </ul>
      </div>
    </div>
  </div>
</div>