<div class="jumbotron">
  <h1 class="display-4">Welcome back, Dr. <%= current_user.name %></h1>
  <p class="lead">What would you like to do today?</p>
  <hr class="my-4">
  <%= link_to 'Pending Appointments', pending_appointments_path, class:'btn btn-primary btn-lg mr-1' %>
  <%= link_to 'Accepted Appointments', accepted_appointments_path, class:'btn btn-primary btn-lg ml-1' %>
</div>