<div class="jumbotron">
  <h1 class="display-4">Welcome to MobileVet</h1>
  <p class="lead">We will bring the vet to you</p>
  <hr class="my-4">
  <p>We bring our services to you to ensure your pets have a great & healthy life</p>
  <%= link_to 'Sign Up Now', new_user_path, class:'btn btn-primary btn-lg' %>
</div>