
  <div class='form-group'>
    <div class='d-flex'>
      <%= form.text_field :search, class: 'form-control', placeholder: 'Search' %>
      <%= form.submit 'Search', class:'btn btn-primary ml-2' %>
    </div>
  </div>
