<h1>Accepted Appointments</h1>

<%= form_with url: accepted_appointments_path, method: 'get' do |form| %>
  <%= render partial:'appointments/search', locals: {form: form} %>
<% end %>

<div id='accepted-container'>
  <%= render 'appointments/accepted' %>
</div>