<h1>Declined Appointments</h1>

<%= form_with url: declined_appointments_path, local: true, method: 'get' do |form| %>
  <%= render partial:'appointments/search', locals: {form: form} %>
<% end %>

<div id='declined-container'>
  <%= render 'appointments/declined' %>
</div>
