<h1>Pending Appointments</h1>

<%= form_with url: pending_appointments_path, method: 'get' do |form| %>
  <%= render partial:'appointments/search', locals: {form: form} %>
<% end %>

<div id='pending-container'>
  <%= render 'appointments/pending' %>
</div>