<h1>Pending Appointments</h1>

<%= form_with url: pending_appointments_path, method: 'get' do |form| %>
  <%= render partial:'appointments/search', locals: {form: form} %>
<% end %>

<div class='pending-container'>
  <%= render 'appointments/pending' %>
</div>

<script>
  // $(document).ready(function(){
    $('#button-container button').click(function(e){
      e.preventDefault();
      let updateStatus = {
        'id': $(this).attr('value'),
        'status': $(this).attr('data-enums')
      }
      $.ajax({
        method: "POST",
        url: `/appointments/${updateStatus['id']}/update_status`,
        data: updateStatus,
        dataType: 'json',
        success: function(data) {
          console.log(data['id']);
          $(`#status-${data['id']}`).html(`Status: ${data['status']}`);
        }
      });
    });
  // });
</script>